PORT=8080
GOOGLE_NEWS_RSS_URL=https://news.google.com/rss?hl=en-IN&gl=IN&ceid=IN:en
NEWS_API_KEY=
NEWS_PROVIDER=rss
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
FCM_DEFAULT_ICON=https://example.com/icon.png
APP_DEEP_LINK_PREFIX=newspulse://article/
SYNC_CRON_MINUTES=5
